[Unit]
Description=uWSGI ldap-user instance
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/ldap-user/
ExecStart=/bin/bash -lc "poetry run uwsgi --ini ldap-user.ini

[Install]
WantedBy=multi-user.target
