<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - flipdot ldap</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="header">
        {% if session.username %}
            <a class="btn btn-default" href="{{ url_for('index') }}">Edit</a>
            <a class="btn btn-default" href="{{ url_for('add') }}">Add user</a>
            <a class="btn btn-default" href="{{ url_for('list') }}">List users</a>
            <a class="btn btn-warning" href="{{ url_for('logout') }}">Logout</a>

        {% else %}

        {% endif %}
    </div>
    <div class="container" id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="/static/jquery-3.1.1.slim.min.js"></script>
    <script src="/static/tether.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/select2.min.js"></script>
</body>
</html>