{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}
    {% if session.username %}
        <h1>Hello {{ form.uid.data }}!</h1>
        <h2>
            Here, you can edit yourself.
            <span class="small">Why would you want to do that?</span>
        </h2>
        <h3>
            Member Status: <i class="fa {{ 'fa-check' if (user['meta']['is_member']) else 'fa-times' }}"></i>
        </h3>

        {% from "_formhelper.html" import render_field %}
        {% from "_formhelper.html" import render_list_field %}

        <form class="edit-user-form" action="{{ url_for('user') }}" method="post">
            <button class="btn submit-btn" type="submit" name="submit" value="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                Save
            </button>

            <div class="panel">
                <h3>GECOS</h3>
                {{ render_field(form.uid) }}
                {{ render_field(form.sammyNick) }}
                {{ render_field(form.mail) }}
            </div>

            <div class="panel">
                <h3>Email Settings</h3>
                {{ render_field(form.drink_notification) }}
            </div>

            <div class="panel">
                <h3>SSH Keys</h3>
                {% for sshKey in form.sshKeys %}
                    {{ render_list_field(sshKey) }}
                {% endfor %}
                <button type="submit" name="submit" value="addSSH" class="btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add SSH Key
                </button>
            </div>

            <div class="panel">
                <h3>MAC Addresses</h3>
                {% for mac in form.macs %}
                    {{ render_list_field(mac) }}
                {% endfor %}
                <button type="submit" name="submit" value="addMAC" class="btn">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Mac
                </button>
            </div>

            <div class="panel">
                <h3>Password</h3>
                {{ render_field(form.oldPassword) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
            </div>

            <!-- fill up the flex layout so we have a multiple of 6 panels -->
            <!-- empty panels will be completely invisible, but make the layout work -->
            <div class="panel"></div>

            <button class="btn submit-btn" type="submit" name="submit" value="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                Save
            </button>
        </form>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}
{% endblock %}
