{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}
    {% if session.username %}
        <h1>Hello {{ form.uid.data }}!</h1>
        <h2>
            Here you can edit your account.
        </h2>
        <h3>
            Member Status: <i class="fa {{ 'fa-check' if (user['meta']['is_member']) else 'fa-times' }}"></i>
        </h3>

        {% from "_formhelper.html" import render_field %}
        {% from "_formhelper.html" import render_list_field %}
        {% from "_formhelper.html" import render_colorselect %}
        {% from "_formhelper.html" import render_dl %}

        <form class="edit-user-form" action="{{ url_for('user') }}" method="post">
            <button class="btn submit-btn" type="submit" name="submit" value="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                Save
            </button>

            <div class="panel">
                <h3>GECOS</h3>
                <dl>
                    {{ render_dl("ID number", user.uidNumber[0]) }}
                </dl>
                {{ render_field(form.uid) }}
                {{ render_field(form.sammyNick) }}
                {{ render_field(form.mail) }}

                {{ render_colorselect(form.hue) }}
            </div>

            <div class="panel">
                <h3>Email Settings</h3>
                {{ render_field(form.drink_notification) }}
            </div>

            <div class="panel">
                <h3>Public SSH Keys</h3>
                {% for sshKey in form.sshKeys %}
                    {{ render_list_field(sshKey) }}
                {% endfor %}
                <button type="submit" name="submit" value="addSSH" class="btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add SSH Key
                </button>
            </div>

            <div class="panel">
                <h3>MAC Addresses</h3>
                {% for mac in form.macs %}
                    {{ render_list_field(mac) }}
                {% endfor %}
                <button type="submit" name="submit" value="addMAC" class="btn">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Mac
                </button>
            </div>

            <div class="panel">
                <h3>Password</h3>
                {{ render_field(form.oldPassword) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
            </div>

            <!-- fill up the flex layout so we have a multiple of 6 panels -->
            <!-- empty panels will be completely invisible, but make the layout work -->
            <div class="panel"></div>

            <button class="btn submit-btn" type="submit" name="submit" value="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                Save
            </button>
        </form>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}


<script>
    function each(e, fn) {
        for (const el of e) {
            fn(el)
        }
    }
    function saveButton() {
        const inputs = document.querySelectorAll("input,select")
        const saveButtons = document.querySelectorAll(".submit-btn")
        each(saveButtons, (b) => {
            b.classList.add("clean")
        })
        for (const input of inputs) {
            input.addEventListener("input", (e) => {
                console.log("edit", e)
                each(saveButtons, (b) => {
                    b.classList.remove("clean")
                    b.classList.add("dirty")
                })
            })
        }
    }
    function updateColorSelect(e) {
        const val = e.value
                const col = "hsl("+val+", 100%, 50%)"
                console.log("col")
                each(e.labels, (label) => {
                    label.style.backgroundColor = col
                })
    }
    function colorSelect() {
        const selects = document.querySelectorAll(".hue-select")
        each(selects, (select) => {
            select.addEventListener("input", (event) => {
                updateColorSelect(event.target)
            })
            updateColorSelect(select)
        })
    }
    window.onload = function() {
        saveButton()
        colorSelect()
    }
</script>
{% endblock %}
