{% extends "base.html" %}

{% block title %}List members{% endblock %}

{% block content %}
    <table class="user-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>BananaNick&trade;</th>
                <th>Email</th>
                <th>ID number</th>
                <th># SSH Keys</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user[1].uid[0] }}</td>
                <td>{{ (user[1].sn or [''])[0] }}</td>
                <td>{{ (user[1].mail or [''])[0] }}</td>
                <td>{{ (user[1].uidNumber or ['none'])[0]  }}</td>
                <td>{{ (user[1].sshPublicKey|length) or '0' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
