{% extends "base.html" %}

{% block title %}List members{% endblock %}

{% block content %}
    {% set login_dn = login_user %}
    {% set login_user = login_user %}
    <table class="user-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>BananaNick&trade;</th>
                {% if login_user['meta']['is_admin'] %}
                    <th>Email</th>
                {% endif %}
                <th>ID number</th>
                <th># Public SSH Keys</th>
                <th>Member</th>
                <th>Admin</th>
                <th>Impersonate</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for user in users %}
            {% set dn = user.dn %}
            <tr>
                <td>{{ user.uid[0] }}</td>
                <td>{{ (user.sn or [''])[0] }}</td>
                {% if login_user['meta']['is_admin'] %}
                    <td>{{ user.mail|join(',') }}</td>
                {% endif %}
                <td>
                    {{ user.uidNumber }}
                </td>
                <td>{{ (user.sshPublicKey|length) or '0' }}</td>
                <td>
                    <div class="setting">
                        <i class="fa {{ 'fa-check' if (user['meta']['is_member']) else 'fa-times' }}"></i>
                                <form action="/user/set_member" method="POST">
                                    <input type="hidden" name="uid" value="{{ dn }}">
                                    <button class="btn" type="submit" name="is_member" value="{{ 'false' if (user['meta']['is_member']) else 'true' }}">
                                        <i class="fa {{ 'fa-times' if (user['meta']['is_member']) else 'fa-check'  }}"></i>
                                    </button>
                                </form>
                    </div>
                </td>

                    <td>
                        <div class="setting">
                            <i class="fa {{ 'fa-check' if (user['meta']['is_admin']) else 'fa-times' }}"></i>
                            <form action="/user/set_member" method="POST">
                                <input type="hidden" name="uid" value="{{ dn }}">
                                <button class="btn" type="submit" name="is_admin" value="{{ 'false' if (user['meta']['is_admin']) else 'true'  }}">
                                    <i class="fa {{ 'fa-times' if (user['meta']['is_admin']) else 'fa-check'  }}"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="setting">
                            <form action="/user/impersonate" method="GET">
                                <input type="hidden" name="user" value="{{ dn }}">
                                <button class="btn" type="submit">
                                    <i class="fa fa-female"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="setting">
                            <button class="btn" onclick="removeUser('{{ dn }}')">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </td>
            </tr>
        {% endfor %}
    </table>

<script>
    function removeUser(dn) {
        if (confirm('Are you absolutely fucking sure you want to delete ' + dn + '?')) {
            fetch('/user/' + dn, {method: 'delete'})
                .then(function (response){
                    response.text().then(function(text){
                        alert(text);
                        window.location.reload();
                    });
                })
                .catch(function(err){
                    alert(err.toString())
                });
        } else {
            alert("Didn't delete anybody.");
        }
    }
</script>
{% endblock %}
