{% extends "base.html" %}

{% block title %}Resetting password{% endblock %}
{% block content %}
    {% if session.username %}
        {% from "_formhelper.html" import render_field %}
        {% from "_formhelper.html" import render_list_field %}
        <form action="{{ url_for('reset_password') }}" method="post">

            <div class="panel">
                <h3>Password</h3>
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
            </div>
            <button class="submit-btn" type="submit" name="submit" value="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                Save
            </button>
        </form>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}
{% endblock %}
